extends layout

block content
    style.
        p {
            margin: 2px auto;
        }


    div
        h1 Admin
        br

        h2 Job Processes (#{Object.keys(jobProcesses).length})
        p global.jobProcesses
        br
        each val, key in jobProcesses
            p Process Number: #{key}
            br
            if val
                each val2, key2 in val
                    p #{key2}: #{val2}
            br

        br
        h2 New Queue Items (#{newQueue && newQueue.length})
        p global.newQueue
        br

        each item, index in newQueue
            p Place In Queue: #{index + 1}
            each val, key in item
                p #{key}: #{val}
            br
        br

        br
        h2 Transcription/Download Processes (#{transcriptions && transcriptions.length})
        p global.transcriptions
        br
        each item in transcriptions
          each val, key in item
              p #{key}: #{val}
          br
        br

        h2 Websocket Connections (#{webSocketData && webSocketData.length})
        p global.webSocketData
        br
        each item in webSocketData
            each val, key in item
                p #{key}: #{val}
            br



