extends layout

block content
  style.
    body {
      background-color: rgb(6, 26, 27);
    }

    * {
      box-sizing: border-box;
    }

    .container {
      max-width: 500px;
      margin: 60px auto;
    }

    .container h1 {
      text-align: center;
      color: white;
    }

    form {
      background-color: white;
      padding: 30px;
    }

    form .input-group {
      margin-bottom: 15px;
    }

    form label {
      display: block;
      margin-bottom: 5px;
      margin-top: 12px;
    }

    form input {
      padding: 12px 20px;
      width: 100%;
      border: 1px solid #ccc;
    }

    .submit-btn {
      width: 100%;
      border: none;
      background: rgb(37, 83, 3);
      font-size: 18px;
      color: white;
      border-radius: 3px;
      padding: 20px;
      text-align: center;
      cursor: pointer;
    }

    #data, #progress, #downloadLink, #refreshButton, #timeEstimator {
      color: white;
      font-size: 24px;
      text-align: center;
    }

    #timeEstimator {
      font-size: 21px;
    }

    #downloadLink {
      display: none;
    }

    #refreshButton {
      cursor: pointer;
      text-decoration: underline;
      margin-top: 29px;
      display: none;
      font-size: 18px;
    }

  .container
    h1#header File Upload
    form#form
      .input-group
        label(for='file') Select file
        input#file(type='file')
        label(for='file') Language (aka English)
        input#language(type='text')
        label(for='file') Model (aka medium)
        input#model(type='text')
      button.submit-btn(type='submit') Upload

    p#progress
    p#timeEstimator
    p#data

    a#downloadLink(href='#') Download Here

    a#refreshButton(onclick='window.location.reload();') Transcribe Something Else

  script.
    l = console.log;
    const uploadPath="#{uploadPath}";

    const randomNumber = Math.round(Math.random() * 1000000000000);

    // grab elements
    const form = document.getElementById("form");
    const progressDiv = document.getElementById('progress');
    const timeRemainingDiv = document.getElementById('timeEstimator');
    const header = document.getElementById('header')
    const refreshButton = document.getElementById('refreshButton');
    const latestData = document.getElementById('data');

    form.addEventListener("submit", submitForm);

    function submitForm(e) {
      e.preventDefault();
      const file = document.getElementById("file");
      const language = document.getElementById("language").value;
      const model = document.getElementById("model").value;
      const formData = new FormData();

      l('file');
      l(file);
      l(file.file);

      formData.append("file", file.files[0]);
      formData.append('language', language);
      formData.append('model', model);
      formData.append('websocketNumber', randomNumber);


      l(formData);

      const uploadUrl = `http://${uploadPath}/file`;

      var ajax = new XMLHttpRequest();
      let originalDate, uploadStarted, timeElapsedInSeconds, estimatedUploadTimeInSeconds;

      ajax.upload.addEventListener("progress", function(event){
        l(event);
        form.style.display = 'none';

        var percent = Math.round((event.loaded / event.total) * 100);
        progressDiv.innerHTML = `${percent}% uploaded`;

        const currentTime = new Date();
        timeElapsedInSeconds = Math.round((currentTime - originalDate) / 1000);
        estimatedUploadTimeInSeconds = Math.round(timeElapsedInSeconds * (100/percent));

        // start up functionality to update estimate every second
        if(!uploadStarted){
          uploadStarted = true;
          originalDate = new Date();
          setInterval(function(){
            // TODO: not honoring newlines
            timeRemainingDiv.innerHTML = `${timeElapsedInSeconds} seconds spent processing
            \n\n ${estimatedUploadTimeInSeconds} estimated total upload time
            \n\n ${estimatedUploadTimeInSeconds - timeElapsedInSeconds} estimated seconds remaining`;
          }, 1000)
        }
      }, false);

      ajax.addEventListener("load", function(res){
          console.log(res)
        progressDiv.style.display = 'none';
        timeRemainingDiv.style.display = 'none';

        header.innerHTML = 'Processing..';

        latestData.innerHTML = 'Whisper initializing, updates to come...';
      }, false);
      // TODO: implement these
      // ajax.addEventListener("error", errorHandler, false);
      // ajax.addEventListener("abort", abortHandler, false);
      ajax.open("POST", uploadUrl); //
      ajax.send(formData);
    }

    (function () {
      const latestData = document.getElementById('data');
      const ws = new WebSocket(`ws://${uploadPath}/${randomNumber}`);

      ws.onmessage = function (event) {
        const data = JSON.parse(event.data);

        console.log(event.data);

        latestData.innerHTML = data;

        if (data.status === 'Completed') {
          latestData.innerHTML = 'Congratulations, you\'re done!';
          const downloadLink = document.getElementById('downloadLink')
          downloadLink.href = data.url;
          downloadLink.style.display = 'block';
          header.innerHTML = 'Transcription Completed';
          refreshButton.style.display = 'block';

          l(data.url)
        }
      };
    })();
