extends layout 

block content 
    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootswatch/3.3.0/flatly/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='views/styles/stats.css')
    
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js') 
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js')
     
    .card
    .table-concept
        .table-display
        table
            tbody
                tr 
                    th 
                    th Last 24 hours
                    th Last 7 days
                    th Last 30 days
                    th Total

                tr
                    td Number of transcriptions: 
                    td #{arrangedTranscStats.allTranscriptionPerPeriod.last24h.transcriptionsCount}
                    td #{arrangedTranscStats.allTranscriptionPerPeriod.last7days.transcriptionsCount}
                    td #{arrangedTranscStats.allTranscriptionPerPeriod.last30days.transcriptionsCount}
                    td #{arrangedTranscStats.allTranscriptionPerPeriod.total.transcriptionsCount}
                    
                tr
                    td Total time of transcription:
                    td #{arrangedTranscStats.allTranscriptionPerPeriod.last24h.timeTranscribed}s
                    td #{arrangedTranscStats.allTranscriptionPerPeriod.last7days.timeTranscribed}s
                    td #{arrangedTranscStats.allTranscriptionPerPeriod.last30days.timeTranscribed}s
                    td #{arrangedTranscStats.allTranscriptionPerPeriod.total.timeTranscribed}s
            for k, v in arrangedTranscStats.languagesPerPeriod
                tr 
                    td #{v} number of transcriptions:
                    td #{k.last24h.transcriptionsCount}
                    td #{k.last7days.transcriptionsCount}
                    td #{k.last30days.transcriptionsCount}
                    td #{k.total.transcriptionsCount}
                tr 
                    td #{v} total time of transcription:
                    td #{k.last24h.timeTranscribed}s
                    td #{k.last7days.timeTranscribed}s
                    td #{k.last30days.timeTranscribed}s
                    td #{k.total.timeTranscribed}s


    script.
        $(document).ready(function () {
            console.log('bla');

        });
