extends layout 

block content 
    link(href='/views/styles/stats.css' rel='stylesheet')
    link(href='https://cdn.datatables.net/1.10.23/css/jquery.dataTables.min.css' rel='stylesheet')
    
    
    script(type='text/javascript' src='https://code.jquery.com/jquery-3.5.1.js')
    script(type='text/javascript' src='https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js')
    //- Let browser know website is optimized for mobile
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(charset='UTF-8')

    table#perPeriod.table.table-striped.table-bordered(style='width:100%')
        thead
            tr
                th 
                th Last 24 hours
                th Last 7 days
                th Last 30 days
                th Total
        tbody
            tr 
                th Total transcriptions:
                th #{arrangedTranscStats.allTranscriptionPerPeriod.last24h.transcriptionsCount}
                th #{arrangedTranscStats.allTranscriptionPerPeriod.last7days.transcriptionsCount}
                th #{arrangedTranscStats.allTranscriptionPerPeriod.last30days.transcriptionsCount}
                th #{arrangedTranscStats.allTranscriptionPerPeriod.total.transcriptionsCount}
            tr 
                th Total time transcribed:
                th #{arrangedTranscStats.allTranscriptionPerPeriod.last24h.timeTranscribed}
                th #{arrangedTranscStats.allTranscriptionPerPeriod.last7days.timeTranscribed}
                th #{arrangedTranscStats.allTranscriptionPerPeriod.last30days.timeTranscribed}
                th #{arrangedTranscStats.allTranscriptionPerPeriod.total.timeTranscribed}
    br
    br
    br
    table#languages.table.table-striped.table-bordered(style='width:100%')
        thead
            tr
                th 
                th Language
                th Total transcriptions
                th Total time [s]
        tbody
            for k,v in arrangedTranscStats.languagesPerPeriod
                tr
                    td
                    td #{v}
                    td #{k.transcriptionsCount}
                    td #{k.timeTranscribed}

    script.
        $(document).ready(function () {
            $('#perPeriod').DataTable();
            $('#languages').DataTable();
        });
