form.form#form
  .group
    label(for='file') Select (or drop) file
    input#file(type='file')
  if ytdlp
    .group
      label(for='downloadLink') Enter a link for automatic download (PASTE)
      input#downloadLink(type='text' value="https://www.youtube.com/watch?v=jXVcLVQ4FTg&ab_channel=HighlightHeaven")
  .group
    label(for='languageSelect')#languageLabel Language (#{languagesArray.length} Options)
    .wrapper
      button#languageSelect.select-btn(type='button')
        span#language.select-value(data-value='auto-detect' name='language') Auto-Detect
        i.fa-solid.fa-angle-down
      .content
        .search
          i.fa-solid.fa-magnifying-glass
          input(spellcheck='false' type='search' placeholder='Filter...' tabindex='0')
        ul.options.languages
          each language in languagesArray
            li.option(data-value=language.value tabindex='0')= language.name
  .group
    label(for='modelSelect')#modelLabel Model (#{modelsArray.length} Options)
    .wrapper
      button#modelSelect.select-btn(type='button')
        span#model.select-value(name='model')= modelsArray[0].name
        i.fa-solid.fa-angle-down
      .content
        .search
          i.fa-solid.fa-magnifying-glass
          input(spellcheck='false' type='search' placeholder='Filter...')
        ul.options.models
          each model in modelsArray
            li.option(data-value= model.value tabindex='0')= model.name
  .group.translateHolder
    //- .translation-option
    label#translateLabel(for='translate') Translate to different languages
    input#translate(type='checkbox' name='translate')
    .wrapper
      button#translationSelect.select-btn(type='button')
        span#transLanguage.select-value(name='transLanguage') Select languages
        i.fa-solid.fa-angle-down
      .content
        .search
          i.fa-solid.fa-magnifying-glass
          input(spellcheck='false' type='search' placeholder='Filter...' tabindex='0')
        ul.options.trans-languages
          each language in allLanguages.slice(1)
            li.option(data-lang=language.code tabindex='0')
              input(type='checkbox' id=`lang-${language.code}` name=language.code value=language.code)
              label(for=`lang-${language.code}` tabindex='0')= language.name
    .group#selectedLanguages
      p You have selected #[span.selected-langs-num 0]/7 languages:
      ul.selected-langs
  button#upload-button.submit-btn(type='submit') Upload
