form.form#form
  p(style="margin:0;margin-bottom:6px;") File Limits: Video Or Audio, Max 300 MB, Max 1 Hour Duration
  .group
    label(for='file') Select (or drop) file
    input#file(type='file')
  if ytdlp
    .group
      label(for='downloadLink') Enter a link for automatic download (PASTE)
      input#downloadLink(type='text' value="https://www.youtube.com/watch?v=wnhvanMdx4s")
  .group
    label(for='languageSelect')#languageLabel Language (#{languagesArray.length} Options)
    .wrapper
      button#languageSelect.select-btn(type='button')
        span#language.select-value(data-value='auto-detect' name='language') Auto-Detect
        i.fa-solid.fa-angle-down
      .content
        .search
          i.fa-solid.fa-magnifying-glass
          input(spellcheck='false' type='search' placeholder='Filter...' tabindex='0')
        ul.options.languages
          each language in languagesArray
            li.option(data-value=language.value tabindex='0')= language.name
  .group
    label(for='modelSelect')#modelLabel Model (#{modelsArray.length} Options)
    .wrapper
      button#modelSelect.select-btn(type='button')
        span#model.select-value(name='model')= modelsArray[0].name
        i.fa-solid.fa-angle-down
      .content
        .search
          i.fa-solid.fa-magnifying-glass
          input(spellcheck='false' type='search' placeholder='Filter...')
        ul.options.models
          each model in modelsArray
            li.option(data-value= model.value tabindex='0')= model.name
  .group.translateHolder
    label#translateLabel(for='translate') Translate to different languages
    input#translate(type='checkbox' name='translate')
  button#upload-button.submit-btn(type='submit') Upload
