extends ../layout

block content
    style.
        video {
            top: 0px;
        }

        #transcriptionAmountTable tbody tr th, #transcriptionTimeTable tbody tr th {
            text-align: left;
            width: 168px;
        }

        #transcriptionAmountTable tbody tr th {
            text-align: left;
            width: 100px;
        }

        #languageName {
            width: 155px;
            text-align: left;
        }


    div
        h1 Stats

        h2 Completed Transcriptions

        table#transcriptionAmountTable
            tbody
                tr
                    th Last Hour
                    th Last Day
                    th Last Week
                    th Last Month
                    th All-Time
                tr
                    td #{stats.lastHour}
                    td #{stats.last24h}
                    td #{stats.lastWeek}
                    td #{stats.lastMonth}
                    td #{stats.allTime}

        br
        h2 Transcription Time

        table#transcriptionTimeTable
            tbody
                tr
                    th Last Hour
                    th Last 24h
                    th Last Week
                    th Last Month
                    th All-Time
                tr
                    td #{transcriptionTime.lastHour}
                    td #{transcriptionTime.last24h}
                    td #{transcriptionTime.lastWeek}
                    td #{transcriptionTime.lastMonth}
                    td #{transcriptionTime.allTime}


        br
        h2 Transcribed Languages
        table#languages
            tbody
                tr
                    th#languageName Language Name
                    th Amount

              each pair in Object.entries(languages)
                  tr
                      td #{pair[0]}
                      td #{pair[1]}
                  //li= pair[0] + ': ' + pair[1]
              // each language in languages
              //     tr
              //         td #{language}

                    //td #{languages.language}
                    //td #{transcriptionTime.lastWeek}
                    //td #{transcriptionTime.lastMonth}
                    //td #{transcriptionTime.allTime}



    script.
      l = console.log;

      $(document).ready(function () {

      });



